<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{{ headtitle }}{% endblock %}</title>
		{% block stylesheets %}
			<!-- Styles CSS -->
			<link rel="shortcut icon" href="{{ asset('bundles/lima/assets/images/araignee.ico') }}"/>
			<link rel="stylesheet" href="{{ asset('bundles/lima/assets/css/bootstrap.min.css') }}"/>
			<link rel="stylesheet" href="{{ asset('bundles/lima/assets/css/dataTables.bootstrap4.css') }}"/>
			<link rel="stylesheet" href="{{ asset('bundles/lima/assets/css/custom-lima.css') }}"/>
			<!-- Styles CSS -->
		{% endblock %}
	</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-lima static-top">
		<div class="container-fluid">
		<a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ app.user.username is defined ? '/default' : '/lima/connexion' }}" title="Accueil">
			<div class="sidebar-brand-text mx-3">
				<img src="{{ asset('bundles/lima/assets/images/lima.png') }}" class="d-inline-block align-top" width="124px" alt="lima.png">
			</div>
		</a>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home
				<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Services</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Contact</a>
			</li>
			{% if app.user.username is defined %}
				<li class="nav-item">
					<a class="nav-link" href="#">| {{ app.user.username is defined ? app.user.prenom ~' '~ app.user.nom : '' }}</a>
				</li>
			{% endif %}
			</ul>
		</div>
		</div>
	</nav>

	<div class="container-fluid">

		{% if titre is defined %}
			<h1 class="h6 m-4 text-gray-900">
				<a href="{{ app.user.username is defined ? '/default' : 'lima' }}" title="Accueil">HOME</a> - {{ titre | upper }} ( {{ countliste is defined ? countliste : '' }} )
			</h1>
		{% elseif app.user.username is defined and defaut is defined %}
			<h1 class="h5 m-4 text-gray-900">
				{{ defaut }} 
			</h1>
			<a href="logout">Logout</a>
		{% endif %}
	
		{% block content %}{{ include('_flashes.html.twig') }}{% endblock %}                   
		{% block body %}{% endblock %}
		{% block javascripts %}
			<!-- Jquery && Bootstrap -->
			<script src="{{ asset('bundles/lima/assets/js/jquery.min.js') }}"></script>
			<script src="{{ asset('bundles/lima/assets/js/jquery.dataTables.min.js') }}"></script>
			<script src="{{ asset('bundles/lima/assets/js/dataTables.bootstrap4.min.js') }}"></script>
			<script src="{{ asset('bundles/lima/assets/js/bootstrap.bundle.min.js') }}"></script>
			<script src="{{ asset('bundles/lima/assets/js/jquery.easing.min.js') }}"></script>
			<script src="{{ asset('bundles/lima/assets/js/datatables-lima.js') }}"></script>
			<!-- Jquery && Bootstrap -->
			<script>
				$("input[type=file]").change(function (e){$(this).next('.custom-file-label').text(e.target.files[0].name);})
			</script>
		{% endblock %}

		<footer class="sticky-footer m-4">
			<div class="text-secondary small text-center">© Light Interface Maker Application - Développé et maintenu par Yanick MORZA - {{ "now"|date("Y") }}</div>
		</footer>

	</div>

</body>
</html>